<div id="content">
<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#org956c4b1">1. Welcome to Org mode</a></li>
<li><a href="#org35b3af8">2. This is a headline, it starts with one or more stars</a></li>
<li><a href="#orga603228">3. Working with lists</a>
<ul>
<li><a href="#org9be2496">3.1. Moving around in our outline</a></li>
<li><a href="#org233e38c">3.2. <span class="todo TODO">TODO</span> Moving around headlines</a></li>
<li><a href="#org409b942">3.3. Lord of the Rings</a></li>
</ul>
</li>
<li><a href="#org80b2b06">4. *DONE buy airplane</a>
<ul>
<li><a href="#org0010703">4.1. <span class="todo TODO">TODO</span> Return Airplane</a></li>
<li><a href="#orgb103302">4.2. <span class="todo TODO">TODO</span> Cry</a></li>
<li><a href="#orgf362ab1">4.3. <span class="done DONE">DONE</span> buy airplane</a></li>
<li><a href="#org7f8f7ab">4.4. <span class="todo TODO">TODO</span> Return Airplane</a></li>
<li><a href="#orgbd32048">4.5. <span class="todo TODO">TODO</span> Cry</a></li>
</ul>
</li>
</ul>
</div>
</div>

<div id="outline-container-org956c4b1" class="outline-2">
<h2 id="org956c4b1"><span class="section-number-2">1</span> Welcome to Org mode</h2>
<div class="outline-text-2" id="text-1">
<p>
Welcome, and thanks for trying out Org mode. Making outlines in
Org is very simple. It is just text! Just start typing.
</p>
</div>
</div>
<div id="outline-container-org35b3af8" class="outline-2">
<h2 id="org35b3af8"><span class="section-number-2">2</span> This is a headline, it starts with one or more stars</h2>
<div class="outline-text-2" id="text-2">
<p>
A heading has one star, a sub-heading two, etc.
</p>
</div>
</div>
<div id="outline-container-orga603228" class="outline-2">
<h2 id="orga603228"><span class="section-number-2">3</span> Working with lists</h2>
<div class="outline-text-2" id="text-3">
</div>
<div id="outline-container-org9be2496" class="outline-3">
<h3 id="org9be2496"><span class="section-number-3">3.1</span> Moving around in our outline</h3>
</div>
<div id="outline-container-org233e38c" class="outline-3">
<h3 id="org233e38c"><span class="section-number-3">3.2</span> <span class="todo TODO">TODO</span> Moving around headlines</h3>
</div>

<div id="outline-container-org409b942" class="outline-3">
<h3 id="org409b942"><span class="section-number-3">3.3</span> Lord of the Rings</h3>
<div class="outline-text-3" id="text-3-3">
<p>
My favorite scenes are (in this order)
</p>
<ol class="org-ol">
<li>The attack of the Rohirrim</li>
<li>Eowyn's fight with the witch king
<ol class="org-ol">
<li>this was already my favorite scene in the book</li>
<li>I really like Miranda Otto.</li>
</ol></li>
<li><p>
Peter Jackson being shot by Legolas
</p>
<ul class="org-ul">
<li>on DVD only</li>
</ul>
<p>
He makes a really funny face when it happens.
</p></li>
</ol>
<p>
But in the end, no individual scenes matter but the film as a whole.
Important actors in this film are:
</p>
<dl class="org-dl">
<dt>Elijah Wood</dt><dd>He plays Frodo</dd>
<dt>Sean Austin</dt><dd>He plays Sam, Frodo's friend.  I still remember
him very well from his role as Mikey Walsh in The Goonies.</dd>
</dl>

<p>
You can make words <b>bold</b>, <i>italic</i>, <span class="underline">underlined</span>, <code>code</code> and <code>verbatim</code>, and, if you must, <del>strike-through</del>.
</p>
</div>
</div>
</div>

<div id="outline-container-org80b2b06" class="outline-2">
<h2 id="org80b2b06"><span class="section-number-2">4</span> *DONE buy airplane</h2>
<div class="outline-text-2" id="text-4">
</div>
<div id="outline-container-org0010703" class="outline-3">
<h3 id="org0010703"><span class="section-number-3">4.1</span> <span class="todo TODO">TODO</span> Return Airplane</h3>
</div>

<div id="outline-container-orgb103302" class="outline-3">
<h3 id="orgb103302"><span class="section-number-3">4.2</span> <span class="todo TODO">TODO</span> Cry</h3>
<div class="outline-text-3" id="text-4-2">
<dl class="org-dl">
<dt>Elijah Wood</dt><dd>He plays Frodo
<dl class="org-dl">
<dt>Sean Austin</dt><dd>He plays Sam, Frodo's friend.  I still remember
him very well from his role as Mikey Walsh in The Goonies.</dd>
</dl></dd>
</dl>

<p>
You can make words <b>bold</b>, <i>italic</i>, <span class="underline">underlined</span>, <code>code</code> and <code>verbatim</code>, and, if you must, <del>strike-through</del>.
</p>
</div>
</div>

<div id="outline-container-orgf362ab1" class="outline-3">
<h3 id="orgf362ab1"><span class="section-number-3">4.3</span> <span class="done DONE">DONE</span> buy airplane</h3>
</div>

<div id="outline-container-org7f8f7ab" class="outline-3">
<h3 id="org7f8f7ab"><span class="section-number-3">4.4</span> <span class="todo TODO">TODO</span> Return Airplane</h3>
</div>

<div id="outline-container-orgbd32048" class="outline-3">
<h3 id="orgbd32048"><span class="section-number-3">4.5</span> <span class="todo TODO">TODO</span> Cry</h3>
</div>
</div>
</div>
<div id="postamble" class="status">
<p class="author">Author: Justin Frink</p>
<p class="date">Created: 2018-10-08 Mon 13:09</p>
<p class="validation"><a href="http://validator.w3.org/check?uri=referer">Validate</a></p>
</div>